/* 长文本处理，超长时不换行并添加省略号 */
.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* customize bootstrap */
blockquote {
  font-size: 14px;
  margin-bottom: 10px;
  padding: 3px 10px;
  border-left: 4px solid #ddd;
}
body .navbar-text {
  margin-left: 10px;
  margin-right: 10px;
}

/* fontawesome */
.fa-1-2x {
  font-size: 1.2em;
  padding-top: 2px;
  color: #666;
}

/* customize fancybox */
.fancybox-slide--iframe .fancybox-content {
  max-height : 100%;
  margin: 0;
}

.modal.full-screen .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
}
.modal.full-screen .modal-dialog .modal-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.modal.full-screen .modal-header,
.modal.full-screen .modal-body,
.modal.full-screen .modal-footer {
  position: absolute;
  left: 0;
  width: 100%;
}
.modal.full-screen .modal-header {
  top: 0;
}
.modal.full-screen .modal-body {
  top: 56px;
  bottom: 65px;
}
.modal.full-screen.no-footer .modal-body {
  bottom: 0;
}
.modal.full-screen .modal-footer {
  bottom: 0;
}
.close {
  font-size: 26px;
}
/* search */
.modal.full-screen.search .modal-body {
  top: 65px;
  bottom: 0;
}

.scroll-box {
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 991px) {
  body,
  body blockquote,
  body .page-header,
  body .dropdown-menu,
  body .flat-panel .flat-panel-heading .flat-panel-title {
    font-size: 16px !important;
  }
  body small,
  body ul.files,
  body ul.list-group.threads .list-group-item.thread .thread-message,
  body .members-list .members-item .members-info {
    font-size: 14px !important;
  }
  body .navbar-collapse.pull-left+.navbar-custom-menu {
    right: 0px !important;
  }
  body .navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 190px !important;
  }
  body .navbar-nav>.user-menu>.dropdown-menu>li.user-header>p,
  body #inbox-header .thread-subject,
  body .thread-detail .box-header>.box-title {
    font-size: 18px !important;
  }
  body ul.list-group.threads .list-group-item.thread {
    padding: 10px !important;
  }
  body #inbox-header {
    height: 62px !important;
    padding: 8px 10px !important;
  }
  body #inbox-left {
    height: calc(100vh - 100px) !important;
  }
  body #inbox-right,
  body #inbox-sidebar {
    height: calc(100vh - 162px) !important;
  }
}
