/* 长文本处理，超长时不换行并添加省略号 */
.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

/* customize bootstrap */
blockquote {
  font-size: 14px;
  margin-bottom: 10px;
  padding: 3px 10px;
  border-left: 4px solid #ddd;
}

/* customize fancybox */
.fancybox-slide--iframe .fancybox-content {
    max-height : 100%;
    margin: 0;
}
