/* 长文本处理，超长时不换行并添加省略号 */
.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

/* customize bootstrap */
blockquote {
  font-size: 14px;
  margin-bottom: 10px;
  padding: 3px 10px;
  border-left: 4px solid #ddd;
}

/* customize fancybox */
.fancybox-slide--iframe .fancybox-content {
  max-height : 100%;
  margin: 0;
}


@media (max-width: 991px) {
  body,
  body blockquote,
  body .page-header,
  body .dropdown-menu,
  body .flat-panel .flat-panel-heading .flat-panel-title {
    font-size: 16px !important;
  }
  body small,
  body ul.files,
  body ul.list-group.threads .list-group-item.thread .thread-message,
  body .members-list .members-item .members-info,
  body .members-list .members-item .members-info .member-organization {
    font-size: 14px !important;
  }
  body .navbar-collapse.pull-left+.navbar-custom-menu {
    right: 0px;
  }
  body .navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 190px;
  }
  body .navbar-nav>.user-menu>.dropdown-menu>li.user-header>p,
  body #inbox-header .thread-subject,
  body .thread-detail .box-header>.box-title {
    font-size: 18px;
  }
  body ul.list-group.threads .list-group-item.thread {
    padding: 10px;
  }
  body #inbox-header {
    height: 62px;
    padding: 8px 10px;
  }
}
