<template name="SendEmailModal">
  <div class="modal fade modal-rounded" id="send-email-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
          <h4 class="modal-title">New Message</h4>
        </div>
        <div class="modal-body">
          {{#autoForm collection=formCollection schema=formSchema id="send-email-form" type="normal"}}
            {{> afQuickField name="to"}}
            {{> afQuickField name="subject"}}
            {{> afQuickField name="content"}}
            <button type="submit" class="btn btn-primary">Send</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Discard</button>
          {{/autoForm}}
        </div>
      </div>
    </div>
  </div>
</template>