ul.files li {
  padding: 0 5px;
}
ul.files .actions {
  position: absolute;
  right: 0;
  bottom: 0;
  background: rgba(249,249,249, 1);
}
ul.files .action {
  display: none;
  border: none;
  font-size: 12px;
  padding: 0 10px 0 0;
}
ul.files li:hover {
  background: rgba(249,249,249, 1);
}
ul.files li:hover .action {
  display: inline;
}
