{
  "public": {
    "company": "WorkBase",
    "domain": "xxx.com"
  },
  "modules": {
    "storage": "S3"
  },
  "mailgun": {
    "key": "key-xxx"
  },
  "s3": {
    "key": "AWSKEY",
    "secret": "AWSSECRET",
    "bucket": "BUCKETNAME",
    "region": "us-west-1"
  }
}