.shared-messages .message {
  background: white;
  padding: 10px;
  border-bottom: solid 1px #F1F1F1;
}
.shared-messages .message-body {
  padding-left: 42px;
}
.shared-messages .message-body .title .name {
  font-size: 16px;
  font-weight: 600;
}
.shared-messages .message-body .action {
  margin-left: 10px;
}
.shared-messages .message-body .message-content {
  margin-bottom: 10px;
}
.shared-messages .message-body .message-content img.img-thumbnail {
  max-height: 350px;
  max-width: 100%;
  cursor: zoom-in;
}
.shared-messages .react-container,
.shared-messages .react-container {
  margin-left: -42px;
  background: #ecf0f5;
  font-size: 12px;
}
.shared-messages .react-container.like {
  margin-top: 5px;
  border-bottom: solid 1px #E8E8E8;
}
.shared-messages .like-users {
  margin-left: 42px;
  padding: 5px 0;
}
.shared-messages .react-container .icon {
  position: absolute;
  left: 22px;
  font-size: 14px;
  padding-top: 10px;
}
.shared-messages .like-users .like-user {
  margin-right: 5px;
}
.shared-messages .comments {
  margin: 0;
  padding-left: 42px;
}
.shared-messages .comments li {
  padding: 5px 5px 5px 0;
  list-style: none;
  border-bottom: solid 1px #E8E8E8;
}
.shared-messages .comments li:last-child {
  border-bottom: none;
}
.shared-messages .comments li .comment-avatar {
  margin-right: 5px;
}
.shared-messages .comments li .user {
  font-weight: 600;
}

@media (max-width: 991px) {
  .navbar-custom-menu .navbar-nav.share-menu .dropdown-menu {
    right: 0;
  }
  .navbar-custom-menu .navbar-nav.share-menu .dropdown-menu li a {
    color: #777;
  }
  .navbar-custom-menu .navbar-nav.share-menu .dropdown-menu li.divider {
    background: #EEE;
  }
}
