.shared-messages .message {
  background: white;
  padding: 10px;
  border-bottom: solid 1px #F1F1F1;
}
.shared-messages .message-body {
  padding-left: 42px;
}
.shared-messages .message-body .name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.shared-messages .message-body .message-content {
  margin-bottom: 10px;
}
.shared-messages .message-body .message-content img.img-thumbnail {
  max-height: 350px;
  max-width: 100%;
  cursor: zoom-in;
}
ul.comments {
  background: #ecf0f5;
  margin-top: 5px;
}
ul.comments li {
  padding: 2px 5px;
  border-bottom: solid 1px #FAFAFA;
}
ul.comments li:last-child {
  border-bottom: none;
}
ul.comments li .user {
  font-weight: 600;
}
