body .user-panel {
  background: #1a2226;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
body .user-panel .avatar-tiny {
  display: none;
}
body.sidebar-collapse .user-panel .status,
body.sidebar-collapse .user-panel .avatar-mlarge {
  display: none;
}
body.sidebar-collapse .user-panel .avatar-tiny {
  display: block;
}
