form#thread-content-form .form-group,
form#thread-content-form .form-group textarea {
  height: 100%;
  max-height: 100%;
  margin-bottom: 0;
}
.modal.thread-content .modal-content.edit .markdown,
.modal.thread-content .modal-content .modal-body .form-group,
.modal.thread-content .modal-content.edit .modal-footer #btn-edit-content,
.modal.thread-content .modal-content .modal-footer #btn-save-content {
  display: none;
}
.modal.thread-content .modal-content.edit .modal-body .form-group {
  display: block;
}
.modal.thread-content .modal-content.edit .modal-footer #btn-save-content {
  display: inline-block;
}
