<template name="ApplicationLayout">
  {{#AdminLTE skin=currentUser.skin fixed=true sidebarMini=true loadingTemplate="spinner"}}
  <!-- your html here -->
    <header class="main-header">
      <!-- Logo -->
      <a href="/inbox" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
          <b>W</b>
        </span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
          <!-- <img src="/images/logo.png" class="img-responsive"/> -->
          <b>W</b>ork<b>B</b>ase
          {{#if (count 'unread-inbox')}}<span class="visible-xs-inline">({{count 'unread-inbox'}})</span>{{/if}}
        </span>
      </a>
      <nav class="navbar navbar-static-top">
        {{#ApplicationStatus}}
          <!-- todo -->
        {{/ApplicationStatus}}
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>

        {{> yield 'menu'}}
      </nav>
    </header>
    <aside class="main-sidebar">
      <section class="sidebar">
        {{> ProfilePanel}}
        <!-- search form -->
        {{> Search}}
        <ul class="sidebar-menu">
          {{> InboxMenuItem}}
          {{> StarMenuItem}}
          {{> RosterMenuItem}}
          {{> ChannelMenuItems}}
          {{> SharedMenuItem}}
          {{> ArchiveMenuItem}}
          {{> AdminMenuItem}}
          {{> MailgunMenuItem}}
        </ul>
      </section>
    </aside>
    <div class="content-wrapper">
      {{> yield}}
    </div>

    <!-- The sidebar's background -->
    <!-- This div must placed right after the sidebar for it to work-->
    <div class="control-sidebar-bg"></div>
  {{/AdminLTE}}
</template>
