<template name="ApplicationLayout">
  {{#AdminLTE skin=currentUser.skin fixed=true sidebarMini=true}}
    {{> status}}
    <!-- your html here -->
    <header class="main-header">
      <!-- Logo -->
      <a href="/inbox" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
          <b>B</b>
        </span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
          <!-- <img src="/images/logo.png" class="img-responsive"/> -->
          <b>W</b>ork<b>B</b>ase
          {{#if countUnread}}<span class="visible-xs-inline">({{countUnread}})</span>{{/if}}
        </span>
      </a>
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>

        {{> yield 'menu'}}
      </nav>
    </header>
    <aside class="main-sidebar">
      <section class="sidebar">
        <ul class="sidebar-menu email">
          <li class="header text-ellipsis">
            {{currentUser.email}}
            <span class="text-muted pull-right" id="btn-sign-out">{{_ 'Sign out'}}</span>
          </li>
        </ul>
        <div class="user-panel">
          <div class="pull-left image">
            {{> avatar user=currentUser shape="circle" class="img-circle align-center" size="medium"}}
          </div>
          <div class="pull-left info">
            <p>{{currentUser.name}}</p>
            <i class="fa fa-circle text-success"></i>
            <span class="text-muted">{{currentUser.title}}</span>
          </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form" id="search-form">
          <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="{{_ 'Search'}}">
            <span class="input-group-btn">
              <button type="button" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </form>
        <ul class="sidebar-menu">
          <li class="{{#if inRouter 'inbox'}}active{{/if}}">
            <a href="/inbox">
              <i class="fa fa-inbox"></i> <span>{{_ 'Inbox'}}</span>
              {{#if countUnread}}
                <span class="pull-right-container">
                  <span class="label label-danger pull-right">{{countUnread}}</span>
                </span>
              {{/if}}
            </a>
          </li>
          {{> RosterMenuItem}}
          {{> ChannelMenuItems}}
          <li>
            <a href="/shared">
              <i class="fa fa-connectdevelop"></i> <span>{{_ 'Shared'}}</span>
              {{#if true}}
                <span class="pull-right-container">
                  <span class="label label-danger pull-right">&nbsp;</span>
                </span>
              {{/if}}
            </a>
          </li>
        </ul>
      </section>
    </aside>
    <div class="content-wrapper">
      {{> yield}}
    </div>

    <!-- The sidebar's background -->
    <!-- This div must placed right after the sidebar for it to work-->
    <div class="control-sidebar-bg"></div>
  {{/AdminLTE}}
</template>

<template name="status_default">
  {{#unless connected}}
    <div class="status-bar text-center alert alert-warning">
      <strong>
        <span class="fa fa-warning"></span>
        {{message}}
      </strong>
      {{extraMessage}}

      {{#if showReconnect}}
        <a href="#" class="alert-link">{{reconnectLabel}}</a>
      {{/if}}
    </div>
  {{/unless}}
</template>
