<template name="ApplicationLayout">
  {{#AdminLTE skin=currentUser.skin fixed=true sidebarMini=true}}
    {{> status}}
    <!-- your html here -->
    <header class="main-header">
      <!-- Logo -->
      <a href="/inbox" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
          <b>B</b>
        </span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
          <!-- <img src="/images/logo.png" class="img-responsive"/> -->
          <b>W</b>ork<b>B</b>ase

        </span>
      </a>
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle visible-xs" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></a>
              {{> yield "menu"}}
            </li>
          </ul>
          {{> yield "title"}}

          <form class="navbar-form navbar-left hide" role="search">
            <div class="form-group">
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search">
            </div>
          </form>
        </div>

        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li>
              <a href="#" id="btn-send-email">
                <i class="fa fa-send" data-toggle="tooltip" data-placement="left" title="{{_ 'Compose'}}"></i>
                <span class="hidden-xs">{{_ 'Compose'}}</span>
              </a>
            </li>
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{> avatar user=currentUser shape="circle" class="img-circle user-image" size="tiny"}}
                <span class="hidden-sm hidden-xs">{{currentUser.profile.name}}</span>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                  {{> avatar user=currentUser shape="circle" class="img-circle align-center" size="xlarge"}}
                  <p>
                    {{currentUser.name}}
                    <small>{{currentUser.title}}</small>
                    <small>{{currentUser.email}}</small>
                  </p>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="/profile" class="btn btn-default">{{_ 'Profile'}}</a>
                  </div>
                  <div class="pull-right">
                    <a href="#" class="btn btn-default" id="btn-sign-out">{{_ 'Sign out'}}</a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <aside class="main-sidebar">
      <aside class="main-sidebar">
        <section class="sidebar">
          <!-- search form -->
          <form action="#" method="get" class="sidebar-form" id="search-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="{{_ 'Search'}}">
              <span class="input-group-btn">
                <button type="button" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
          <ul class="sidebar-menu">
            <li class="{{#if inRouter 'inbox'}}active{{/if}}">
              <a href="/inbox">
                <i class="fa fa-inbox"></i> <span>{{_ 'Inbox'}}</span>
                {{#if countUnread}}
                  <span class="pull-right-container">
                    <span class="label label-danger pull-right">{{countUnread}}</span>
                  </span>
                {{/if}}
              </a>
            </li>
            {{> RosterMenuItem}}
            {{> ChannelMenuItems}}
          </ul>
        </section>
      </aside>
    </aside>
    <div class="content-wrapper">
      {{> yield}}
    </div>

    <!-- The sidebar's background -->
    <!-- This div must placed right after the sidebar for it to work-->
    <div class="control-sidebar-bg"></div>
  {{/AdminLTE}}
</template>

<template name="status_default">
  {{#unless connected}}
    <div class="status-bar text-center alert alert-warning">
      <strong>
        <span class="fa fa-warning"></span>
        {{message}}
      </strong>
      {{extraMessage}}

      {{#if showReconnect}}
        <a href="#" class="alert-link">{{reconnectLabel}}</a>
      {{/if}}
    </div>
  {{/unless}}
</template>
