/* temp fix */
body {
  background: #ecf0f5;
}

body .main-header .logo {
  font-family: "Source Sans Pro";
}

body .align-center {
  margin: auto;
}

body .content-wrapper {
/*  background: white;*/
}

body .navbar-nav>.user-menu .user-image {
  height: 30px;
  margin-top: -4px;
  margin-bottom: -6px;
}

body .page-header {
   margin: 30px 0 20px;
   font-size: 14px;
}

/* meteor status */
.status-bar {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 9999; /* 要大于control-sidebar (1010) */
  margin-bottom: 0;
}

@media (max-width: 991px) {
  body .navbar-collapse.pull-left+.navbar-custom-menu {
    right: 0px;
  }
}
