/* temp fix */
body {
  background: #ecf0f5;
}

body .main-header .logo {
  font-family: "Source Sans Pro";
}

body .align-center {
  margin: auto;
}

body .content-wrapper {
/*  background: white;*/
}

body .navbar-nav>.user-menu .user-image {
  height: 30px;
  margin-top: -4px;
  margin-bottom: -6px;
}

body .page-header {
  margin: 30px 10px 20px;
  font-size: 14px;
}

.menu-title {
  color: white;
  font-weight: 600;
}

/* meteor status */
.status-bar {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 9999; /* 要大于control-sidebar (1010) */
  margin-bottom: 0;
}
