/* temp fix */
body {
  background: #ecf0f5;
}

body .main-header .logo {
  font-weight: 500;;
}

body .align-center {
  margin: auto;
}

body .content-wrapper {
/*  background: white;*/
}

body .navbar-nav>.user-menu .user-image {
  height: 30px;
  margin-top: -4px;
  margin-bottom: -6px;
}

body .page-header {
  margin: 30px 10px 20px;
  font-size: 14px;
}

.menu-title {
  color: white;
  font-weight: 600;
}

/* fix AdminLTE */
.main-sidebar .sidebar {
  height: calc(100vh - 120px);
  overflow-y: scroll;
}
.sidebar-collapse .main-sidebar .sidebar {
  overflow-y: unset;
}
@media (max-width: 991px) {
  .main-sidebar .sidebar {
    height: calc(100vh - 170px);
  }
}