#inbox-left {
  height: calc(100vh - 48px);
  overflow: auto;
}

#inbox-header {
  height: 52px;
  padding: 6px 10px;
  border-left: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  background: white;
}

#inbox-right {
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  overflow-x: hidden;
}

#inbox-right:last-child {
  border-right: none;
}

#inbox-sidebar {
  height: calc(100vh - 100px);
  overflow-y: scroll;
}
