body .content-wrapper .row .col {
  padding: 0px !important;
}

#message-form {
  padding: 10px 15px;
  border-bottom: solid 1px #d8d8d8;
}

.btn-group-message-form, .btn-group-message-form .checkbox {
  margin-left: 10px;
  display: inline;
}

.btn-group-message-form .checkbox label {
  color: #777;
}

img.img-thumbnail {
  display: block;
  max-height: 300px;
  max-width: 100%;
}

.text-right a.actions {
  padding-left: 10px;
}

.email pre {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

mark {
  background: #ff0 !important;
}

.email-content {
  overflow-x: auto;
}
