.message.pin {
  background: rgba(242,199,68,.1);
}
.message.pin .message-header {
  background: rgba(249,249,249, 1);
  border-color: rgba(245,245,245, 1);
}
.pin-info {
  padding-bottom: 5px;
  position: relative;
}
.pin-info .icon {
  position: absolute;
  left: 30px;
}
.pin-info .info {
  padding-left: 50px;
}
.pin-message {
  max-height: 100px;
  overflow: hidden;
}
.pin-message .message-content {
  padding-top: 0;
}
.pin-message .pin-truncate-fade {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
  background: #fff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #fff), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -moz-linear-gradient(center bottom, #fff 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(bottom, #fff 0%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(bottom, #fff 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(bottom, #fff 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 0)', endColorstr='#ffffff', GradientType=0);
  pointer-events: none;
  z-index: 1
}
