#inbox-left {
  height: calc(100vh - 50px);
}
#inbox-main {
  display: none;
}
.with-right #inbox-main {
  display: block;
}
#inbox-header {
  height: 57px;
  padding: 6px 10px;
  border-left: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
/*  background: white;*/
}
#inbox-header .btn-back {
  height: 34px;
  margin-top: 6px;
  font-size: 24px;
  padding-right: 10px;
}
#inbox-header .inbox-header-icon {
  border:1px solid transparent;
  font-size: 25px;
  text-align: center;
  width: 35px;
  height: 35px;
  margin-top: 5px;
  margin-left: 5px;
}
#inbox-header .inbox-header-icon:hover {
  color: #72afd2;
}
#inbox-header .btn-group.inbox-header-icon.open,
#inbox-header .inbox-header-icon.active {
  border: 1px solid transparent;
  border-radius: 3px;
  background: #d8d8d8;
  color: #555;
}
#inbox-header .btn-group.inbox-header-icon.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#inbox-right {
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  height: calc(100vh - 107px);
}
#inbox-right:last-child {
  border-right: none;
}

#inbox-sidebar {
  height: calc(100vh - 107px);
  display: none;
}
.with-sidebar #inbox-sidebar {
  display: block;
}

@media (max-width: 767px) {
  body #inbox-left {
    height: calc(100vh - 100px) !important;
  }
  body #inbox-right,
  body #inbox-sidebar {
    height: calc(100vh - 162px) !important;
  }
}
