.messages {
  background: white;
}
.messages .message {
  padding: 6px 10px;
  border-bottom: solid 1px #f1f1f1;
}
.messages .message:last-child {
  border-bottom: 1px solid #d8d8d8;
}
.messages .message-header {
  margin: -6px -10px;
  padding: 6px 10px;
  border-bottom: solid 1px white;
}
.messages .message-header .summary {
  display: none;
}
.messages .message:hover .message-header {
  background: rgba(249,249,249, 1);
  border-color: rgba(245,245,245, 1);
}
.messages .fold.message:hover .message-header {
   border-color: rgba(249,249,249, 1);
}
.messages .fold.message .message-header .email,
.messages .fold.message .message-content {
  display: none;
}
.messages .fold.message .message-header .summary {
  display: block;
}
.messages .message-header-avatar {
  float: left;
}
.messages .message-header-title {
  padding: 0 15px 0 50px;
  cursor: pointer;
}
.messages .message-header-name {
  font-size: 14px;
  font-weight: bold;
  color: #555;
}
.messages .message-content {
  padding-top: 15px;
}
.messages .message-content iframe {
  height: 0px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

/* markdown */
.messages .message-content h1 {
  font-size: 28px;
}
.messages .message-content h2 {
  font-size: 24px;
}
.messages .message-content h3 {
  font-size: 20px;
}
.messages .message-content h4 {
  font-size: 18px;
}
.messages .message-content h5 {
  font-size: 16px;
}
.messages .message-content h6 {
  font-size: 14px;
}