.messages {
  background: white;
}
.messages .message {
  padding: 6px 10px;
  border-bottom: solid 1px #f1f1f1;
}
.messages .message:last-child {
  border-bottom: 1px solid #d8d8d8;
}
.messages .message-header {
  margin: -6px -10px;
  padding: 6px 10px;
  border-bottom: solid 1px white;
  position: relative;
}
.messages .message-header .message-actions {
  position: absolute;
  right: 10px;
  top: 6px;
  display: none;
}
.messages .message-header:hover .message-actions {
  display: inline;
}
.messages .message-header .summary {
  display: none;
}
.messages .message:hover .message-header {
  background: rgba(249,249,249, 1);
  border-color: rgba(245,245,245, 1);
}
.messages .fold.message:hover .message-header {
  border-color: rgba(249,249,249, 1);
}
.messages .fold.message .message-header .email,
.messages .fold.message .message-content {
  display: none;
}
.messages .fold.message .message-header .summary {
  display: block;
}
.messages .message-header-avatar {
  float: left;
}
.messages .message-header-title {
  padding: 0 10px 0 50px;
  cursor: pointer;
}
.messages .message-header-name {
  font-weight: bold;
  color: #555;
}
.message-content {
  padding-top: 15px;
  overflow: scroll;
}
.message-content img.img-thumbnail {
  max-height: 350px;
  max-width: 100%;
  cursor: zoom-in;
}
.message-content iframe {
  height: 0px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}
.files-count {
  color: #666;
  cursor: pointer;
}
.files-count[aria-expanded="false"] .collapse-arrow i {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* markdown */
.message .message-content h1 {
  font-size: 28px;
}
.message .message-content h2 {
  font-size: 24px;
}
.message .message-content h3 {
  font-size: 20px;
}
.message .message-content h4 {
  font-size: 18px;
}
.message .message-content h5 {
  font-size: 16px;
}
.message .message-content h6 {
  font-size: 14px;
}
.message .message-content .markdown ul,
.message .message-content .markdown ol {
  padding-left: 18px;
}

.quoted-message .title a {
  color: #333;
  font-weight: 600;
}
