body .content-wrapper .row .col {
  padding: 0px !important;
}

.btn-group-message-form, .btn-group-message-form .checkbox {
  margin-left: 10px;
  display: inline;
}

.btn-group-message-form .checkbox label {
  color: #777;
}

.text-right a.actions {
  padding-left: 10px;
}

.email pre {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

mark {
  background: #ff0 !important;
}
