body .content-wrapper .row .col {
  padding: 0px !important;
}

.btn-group-message-form, .btn-group-message-form .checkbox {
  margin-left: 10px;
  display: inline;
}

.btn-group-message-form .checkbox label {
  color: #777;
}

.text-right a.actions {
  padding-left: 10px;
}

.email pre {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

mark {
  background: #ff0 !important;
}

ul.files {
  font-size: 12px;
  padding-bottom: 10px;
}
ul.files li {
  padding: 0 5px;
}
ul.files .action {
  display: none;
  border: none;
  padding: 0 0 0 10px;
}
ul.files li:hover {
  background: rgba(249,249,249, 1);
}
ul.files li:hover .action {
  display: inline;
}
