.thread-detail {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  background-color: #fff;
  padding: 0px;
}
.thread-detail .box {
  margin-bottom: 0px;
  height: 100%;
}
.thread-detail .box-header.with-border {
  background: #F7F7F7;
  padding: 15px 12px;
}
.thread-detail .box-header>.box-title {
  font-size: 16px;
  font-weight: 500;
  color: #555;
}
.thread-detail .box-header>.box-tools {
  top: 12px;
}
.thread-detail .box-header>.box-tools a {
  color: #999;
  font-size: 16px;
}
.thread-detail .box-header>.box-tools a:hover {
  color: #555;
}
.thread-detail .box-header>.box-tools a>i.fa{
  width: 16px;
}
.flat-panel {
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid #E8E8E8;
  box-shadow: none;
  margin-bottom: 0;
}
.flat-panel:last-child {
  border-bottom: none;
}
.flat-panel .flat-panel-heading {
  border-radius: 0px;
  font-weight: 500;
  padding: 16px 12px;
  border: none;
}
.flat-panel .flat-panel-heading .flat-panel-title {
  color: #555;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}
.flat-panel .flat-panel-heading .flat-panel-title i.fa {
  margin-right: 10px;
  min-width: 17px;
  text-align: center;
}
.flat-panel .flat-panel-body {
  padding: 0px 12px;
  margin-bottom: 12px;
}

.members-list {
  overflow-x: hidden;
  margin: 0 -12px 10px -12px;
}
.members-list .members-item {
  border: none;
  padding: 8px 10px 8px 12px;
}
.members-list .members-item:hover {
  background: #fafafa;
}
.members-list .members-item .members-info {
  margin-left: 42px;
  font-size: 12px;
  line-height: 16px;
  min-height: 30px;
}
.members-list .members-item .members-info span {
  display: block;
}
.members-list .members-item .members-info .member-name {
  color: #555;
  font-weight: bold;
  display: inline;
}
.members-list .members-item .members-info .member-organization {
  font-size: 12px;
  margin-top: 2px;
}
.members-list .members-item .li-manage-icon {
  line-height: 30px;
  margin-left: 10px;
  opacity: 0;
}
.members-list .members-item:hover .li-manage-icon {
  opacity: 1;
}